/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #dddada;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.after-heading {
    background-color: #fffbfb;
    color: #000000;
    text-align: center;
    padding: 1em 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-top: 110px;
}

.after-heading h1 {
    margin: 0;
}

.section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section figure {
    margin: 20px 0;
    text-align: center;
}

.section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section figcaption {
    font-style: italic;
    color: #777;
}


footer {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 20px;
}

.foot-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1em;
    margin: 5px 0;
}

.brand-name {
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.foot-container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    background-color: #000000;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1em;
    margin: 5px 0;
}

.brand-name {
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}


@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
     .menu-box {
            width: 80%;
        }
    
        .menubox-text {
            font-size: 1.2rem;
        }
}